@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 100% 97%;
    --foreground: 240 10% 3.9%;
    --card: 120 100% 97%;
    --card-foreground: 240 10% 3.9%;
    --popover: 120 100% 97%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 147 50% 47%;
    --primary-foreground: 147 50% 98%;
    --secondary: 120 60% 90%;
    --secondary-foreground: 147 50% 47%;
    --muted: 120 60% 90%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 120 73% 85%;
    --accent-foreground: 147 50% 47%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 30% 85%;
    --input: 120 30% 90%;
    --ring: 147 50% 47%;
    --chart-1: 147 50% 47%;
    --chart-2: 120 73% 75%;
    --chart-3: 120 60% 90%;
    --chart-4: 147 50% 67%;
    --chart-5: 120 40% 50%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 147 50% 10%;
    --foreground: 120 20% 95%;
    --card: 147 50% 12%;
    --card-foreground: 120 20% 95%;
    --popover: 147 50% 10%;
    --popover-foreground: 120 20% 95%;
    --primary: 120 73% 75%;
    --primary-foreground: 147 50% 15%;
    --secondary: 147 50% 20%;
    --secondary-foreground: 120 73% 75%;
    --muted: 147 50% 20%;
    --muted-foreground: 120 20% 65%;
    --accent: 147 50% 25%;
    --accent-foreground: 120 73% 75%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 147 50% 20%;
    --input: 147 50% 20%;
    --ring: 120 73% 75%;
    --chart-1: 120 73% 75%;
    --chart-2: 147 50% 47%;
    --chart-3: 147 50% 25%;
    --chart-4: 120 73% 55%;
    --chart-5: 147 50% 67%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
